*{box-sizing:border-box;}
#wallinwall {
      width:500px;
	padding:0px;
	border-radius:10px;
	margin:auto;
	;
  }

 /* Empeza wall Form    */

  #wallform {
    text-align: center;
    display: block;
    margin-bottom: 16px*1.5;
    width: 100%;
    margin: 0;
      flex: 1;
      margin-top: 100px;
    }

    label{
      width:100px;
	font-weight:bold;
	display:inline-block;
  color: white;
    }

    .noteTitle{
      width:325px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:12px 0;
	display:inline-block;
      background-color: white;
      color: #000000;
    }

    .noteDescription{
      width:100%;
      height:100px;
      border:1px solid #f6f6f6;
      border-radius:3px;
      background-color:#f6f6f6;			
      margin:8px 0;
      /*resize: vertical | horizontal | none | both*/
      resize:none;
      display:block;
      color: #000000;
    }

    .buttonSave{
      width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;

      background-color: #F27171 ;
    color:white;
    font-weight: 30;
    }

/* inicia contenido de nota */

  /* .notessaved{
    
        background-color: #C4FF78;
          } */
   .notita{
    display: flex;
    flex-direction: column;
    height:200px;
    width:280px;
    padding:10px;
    border-radius:10px;
    margin:15px;
    background-color: #C4FF78;
                  }

  .buttonDelete{
     
    left: 80px; 
    top: 80px;
    display: inline-block; 
    width: 90px; 
    height: 50px;
    padding:8px 16px;
    border-radius:5px;
    background-color: #F86F6F ;
      color:white;
      font-weight: 30;
          }

  .buttonEdit{ 
    left: 90px; 
    top: 80px;
    display: inline-block; 
    width: 90px; 
    height: 50px;
    padding:8px 16px;
    border-radius:5px;
    background-color: #74F271;
      color:white;
      font-weight: 30;
          }
.note-body{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}